# macOS
.DS_Store
**/.DS_Store

# Editor/IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS-generated
Thumbs.db
design-assets/Website/Landing Page.zip
Website.zip
Figma-References/
node_modules/
dist/
.env
.env.local
.env.*.local
